{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/static/style.css"> -->
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
    <h1>Öğrencilerimiz</h1>
    <!--Djangonun template dili jinja  -->
    <!-- change language: ctrl+k m -->
    <a href="/detay/">Detay Sayfasına Gider</a>
    <br>
    
    {% for i in  ogrencilerim %}
        <h3><a href="{% url 'ogrenci' i.id %}">{{i.isim}}</a></h3>
        <hr>
    {% endfor %}


</body>
</html>